* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(230, 228, 228);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-phone img {
    height: 50rem;
}

.instagram-continue {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffff;
    padding: 1.3rem 0;
    width: 100%;
    border: 1px solid lightgray;
}

.group:nth-child(1) {
    min-height: 19rem;
}

.foto-perfil {
    width: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60%;
    overflow: hidden;
}

.foto-perfil img {
    height: 6rem;
}

.instagram-login {
    color: #ffff;
    background-color: #0095f6;
    padding: 8px;
    border-radius: 4px;
    text-decoration: none;
}

.instagram-logout {
    color: #0095f6;
    margin-top: 1rem;
    text-decoration: none;
}

.not-account {
    color: rgb(160, 160, 160);
}

.link-blue {
    color: #0095f6;
}

.get-the-app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    padding: 1rem;
}

.app-download img {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

/*Responsividade*/

@media (max-width: 1060px) {
    .instagram-wrapper {
        width: 90%;
    }
}

@media (max-width: 650px) {
    .instagram-wrapper {
        width: 90%;
    }

    .instagram-phone {
        display: none;
    }

    .instagram-continue {
        width: 100%;
    }
}